<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Rent_a_Car.Properties.Settings.Araç_KiralamaConnectionString" connectionString="Data Source=DESKTOP-NOMPM02\SQLEXPRESS;Initial Catalog=Araç_Kiralama;Integrated Security=True;Encrypt=False" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        
    <supportedRuntime version="v2.0.50727"/></startup>
</configuration>
